:root {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-halant: "Halant", serif;
  --font-judson: "Judson", serif;
  --font-lateef: "Lateef", serif;
  --color-gold: #F5C400;
  --color-gold-light: #e8c76a;
  --color-bg: #000;
  --color-bg2: #000;
  --color-white: #f5f0e8;
  --color-gray: #aaa;
  --navbar-height: 84px;
}

* { box-sizing: border-box; }

body, html {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.root {
  font-family: var(--font-dm-sans);
  background: var(--color-bg);
  color: var(--color-white);
  min-height: 100vh;
  overflow-x: hidden;
}

.page-transition-wrap { opacity: 1; }
.page-transition-active { animation: .28s pageFadeIn; }
@keyframes pageFadeIn {
  0% { opacity: 0; }
  to { opacity: 1; }
}
